@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1698494301028') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e61e";
}

.icon-shijuan:before {
  content: "\e61f";
}

.icon-dianhua:before {
  content: "\e88b";
}

.icon-book1:before {
  content: "\e7b3";
}

.icon-xuexiao:before {
  content: "\e659";
}

.icon-guanyuwomen:before {
  content: "\e645";
}

