@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1698390080247') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-31gouwuchexuanzhong:before {
  content: "\f01d1";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-user:before {
  content: "\e632";
}

