@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1699702269816') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-31gouwuchexuanzhong:before {
  content: "\f01d1";
}

.icon-book:before {
  content: "\e61e";
}

.icon-facebook_facebook:before {
  content: "\e611";
}

.icon-shijuan:before {
  content: "\e61f";
}

.icon-dianhua:before {
  content: "\e88b";
}

.icon-book1:before {
  content: "\e7b3";
}

.icon-instagram:before {
  content: "\e87f";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-xuexiao:before {
  content: "\e659";
}

.icon-comment:before {
  content: "\e8e8";
}

.icon-whatsapp:before {
  content: "\e8ea";
}

.icon-guanyuwomen:before {
  content: "\e645";
}

.icon-wechat:before {
  content: "\e618";
}

.icon-user:before {
  content: "\e682";
}

