@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1698481090619') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  font-size: 3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e777";
}

.icon-facebook:before {
  content: "\e87d";
}

.icon-whatsapp:before {
  content: "\e8ea";
}

.icon-wechat:before {
  content: "\e618";
}

