* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

header {
    width: 80%;
    height: 5rem;
    background-color: rgb(60, 60, 60);
    display: flex;
    padding: 0% 10%;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0px 2rem 5rem rgba(0, 0, 0, 0.2);
}

header .left-bar {
    width: auto;
    display: flex;
    height: 5rem;
}

#logo {
    width: 10rem;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    line-height: 5rem;
    background-color: rgb(255, 140, 0);
    color: white;
}

.menu {
    width: 30rem;
    display: flex;
}

ul {
    list-style: none;
}

.menu>li {
    width: 15rem;
    text-align: center;
    font-size: 2rem;
    color: rgb(255, 140, 0);
    line-height: 5rem;
    position: relative;
}

.menu>li:hover {
    background-color: rgb(255, 140, 0);
    color: rgb(60, 60, 60);
    height: 5rem;
}

.menu>li>ul {
    display: none;
    background-color: rgb(60, 60, 60);
    color: white;
    position: absolute;
    left: 0px;
    top: 5rem;
    width: 14.8rem;
    border-radius: 0px 0px 5px 5px;
    border: .1rem solid rgb(60, 60, 60);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    z-index: 2;
}

.item:hover ul {
    display: block;

}

.item li:hover {
    background-color: rgb(255, 140, 0);
    color: white;
}

.item span {
    width: 0;
    height: 0;
    margin-left: 2rem;
    display: inline-block;
    border: .5rem solid transparent;
    border-top: .5rem solid rgb(255, 140, 0);
    position: relative;
    top: .25rem;
}

.item:hover span {
    border: .5rem solid transparent;
    border-bottom: .5rem solid rgb(60, 60, 60);
    position: relative;
    top: -2.5px;
}

.menu::after {
    content: "";
    display: block;
    clear: both;
}

.right-bar {
    display: block;
    display: flex;
    height: 5rem;
}

#search-bar-form {
    width: calc(30rem - 0.1rem);
    height: 3rem;
    border: 0.1rem solid rgb(255, 140, 0);
    align-items: center;
    border-radius: 1rem;
    margin: 1rem 0rem;
    outline: none;
    display: flex;
}

#search-bar {
    outline: none;
    width: 24rem;
    height: 3rem;
    border: none;
    border-radius: 1rem 0rem 0rem 1rem;
    padding: 0rem 1rem;
}

#search-bar-submit {
    width: calc(5rem - 0.1rem);
    font-size: 2.5rem;
    height: 3rem;
    border-radius: 0rem 1rem 1rem 0rem;
    border: none;
    background-color: white;
    color: rgb(255, 140, 0);
    margin: 0;
    cursor: pointer;
}

#search-bar-submit>i:hover {
    color: rgb(60, 60, 60);
}

.right-bar>i {
    font-size: 3rem;
    margin-left: 5rem;
    color: rgb(255, 140, 0);
    line-height: 5rem;
}

.right-bar>i:hover {
    animation: bounce 0.5s;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.openbtn {
    display: none;
}

.sidepanel {
    display: none;
}

.progress-container {
    width: 100%;
    height: 0.8rem;
    background: #ccc;
    position: fixed;
    z-index: 10;
    top: 5rem;
}

.progress-bar {
    height: 0.8rem;
    background: rgb(255, 140, 0);
    width: 0%;
}


body section {
    width: 100%;
    margin-top: 5rem;
}

.container {
    width: 80%;
    margin: 5% 10%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.filterDiv {
    background-color: white;
    color: #ffffff;
    width: 20%;
    height: 35rem;
    margin: 2.5%;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: arial;
    padding: 2% 3%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.filterDiv:hover {
    background-color: #ccc;
}

.filterDiv img {
    width: 100%;
    height: 30%;
    background-color: rgb(255, 140, 0);
}

.filterDiv h1 {
    color: black;
    font-size: 2.5rem;
    margin: 5%;
}

.price {
    color: grey;
    font-size: 22px;
    margin: 10%;
}

.filterDiv h2 {
    color: black;
    font-size: 2rem;
    margin: 5%;
}

.try-quiz {
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    outline: 0;
    padding: 1.2rem;
    color: white;
    background-color: rgb(255, 140, 0);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.8rem;
}

.filterDiv button:hover {
    opacity: 0.7;
}

.show {
    display: block;
}

#myBtnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 5.8rem;
}

.btn {
    width: 10rem;
    margin-top: 5%;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: rgb(255, 140, 0);
    color: white;
}

footer {
    width: 90%;
    height: auto;
    background-color: rgb(60, 60, 60);
    padding: 5%;
    display: flex;
}

.footer-container-left,
.footer-container-right {
    width: 30%;
}

.footer-container-left>p,
.footer-container-right>p {
    font: 1.7rem normal;
    color: white;
    margin: 1.5rem;
    cursor: pointer;
}

.footer-container-right button {
    border: 1px solid #f5f5f5;
    background-color: transparent;
    width: 10rem;
}

.footer-container-center {
    flex: 3;
    padding-top: 10rem;
    display: flex;
}

.footer-container-center div {
    margin: 1.5rem;
    text-align: center;
}

.footer-container-center div i {
    color: white;
    cursor: pointer;
}

.footer-container-center div i p {
    font: 2rem normal;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: animatezoom 0.5s;
}

.modal-content {
    background-color: #fff;
    width: 50rem;
    height: 20rem;
    margin: 15rem auto;
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.modal-content>div {
    width: 80%;
    margin: 5%;
    padding: 5%;
    border: 1px solid black;
    font-size: 2rem;
}

#startQuizButton,
#cancelQuizButton {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#startQuizButton:hover,
#cancelQuizButton:hover {
    background-color: #0056b3;
}


@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}



@media all and (max-width: 76.8rem) {
    html {
        font-size: 9px;
    }

    body {
        width: 100%;
    }

    .right-bar {
        display: none;
    }

    .sidepanel {
        display: block;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        transition: 0.5s;
        overflow-x: hidden;
        padding-top: 5rem;
        background-color: rgba(255, 140, 0, 0.6);
        margin-top: 5rem;
        overflow-y: auto;
        height: 100%;
    }

    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 2.5rem;
        font-size: 3.6rem;
        color: white;
        text-decoration: none;
    }

    header {
        width: 100%;
        height: 5rem;
        background-color: rgb(60, 60, 60);
        display: flex;
        justify-content: flex-start
    }

    .openbtn {
        font-size: 3rem;
        cursor: pointer;
        border: none;
        background-color: transparent;
        padding: 1rem;
        display: block;
        margin-top: -1rem;
        margin-right: 0;
        margin-left: -7%;
        color: white;
    }

    .openbtn:hover {
        height: 6rem;
        background-color: rgb(255, 140, 0);
    }

    #search-bar-form {
        width: 27rem;
        margin: 1rem 1.5rem;
    }

    #search-bar {
        width: 21rem;
    }

    .sidepanel a>i {
        color: white;
        margin: 2rem;
        display: block;
        margin-right: 2rem;
        display: flex;
        text-decoration: none;
    }

    .sidepanel a,
    .sidepanel p {
        font-size: 2.5rem;
        color: white;
        display: block;
        margin-left: 3rem;
        cursor: pointer;
        text-decoration: none;
        padding: 0.1rem;
    }

    .sidepanel a:hover {
        background-color: rgb(60, 60, 60);
    }

    .sidepanel a {
        font-size: 3rem;
        margin: 1rem;
        cursor: pointer;
    }

    .filterDiv {
        width: calc((100% - 10% - 6%)/3);
    }

    .btn {
        width: 15rem;
    }
}

@media all and (max-width: 57.6rem) {

    body {
        overflow-x: hidden;
    }

    html {
        font-size: 7px;
        overflow-x: hidden;
    }

    .left-bar {
        margin: 0;
    }

    .filterDiv {
        width: calc((100% - 10% - 6%)/2);
        height: 40rem;
    }

    .footer-container-left,
    .footer-container-right {
        width: 30%;
        text-align: center;
    }

    .footer-container-center {
        flex-direction: column;
        margin-top: -10%;
    }
}