* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    width: 100%;
    display: flex;
    flex-flow: column;
}

body {
    position: relative;
    background-image: url(../img/profile2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.user-img {
    position: absolute;
    background-color: white;
    width: 20rem;
    height: 25rem;
    border: 1px solid gray;
    top: 5%;
    left: 5%;
}

.container-upper {
    width: 100%;
    height: 20rem;
    background-color: rgb(60, 60, 60);
    box-sizing: border-box;
    padding: 2.5%;
}

.container-right {
    width: 60%;
    height: 100%;
    margin-left: 35%;
    display: flex;
    box-sizing: border-box;
    padding: 5%;
    align-items: center;
}

.container-right>button {
    width: 30%;
    margin: 2.5%;
    height: 5rem;
    color: black;
    cursor: pointer;
}

.container-right>button:nth-child(1) {
    background-color: rgb(255, 140, 0);
}

.container-right>button:not(:nth-child(1)):hover {
    background-color: rgb(255, 140, 0);
}

.container-lower {
    width: 100%;
    height: auto;
    background-color: transparent;
    box-sizing: border-box;
}

.container-lower>button {
    margin-left: 30rem;
    margin-top: 2.5%;
    cursor: pointer;
    padding: 0.5rem 1.6rem;
}

.container-lower .edit-profile {
    position: absolute;
    top: 20rem;
    right: 5%;
    cursor: pointer;
    padding: 0.5rem 1.6rem;
}

.container-lower .container-content {
    width: 70%;
    margin: 5%;
    margin-top: 5%;
    display: flex;
    background-color: rgb(201, 201, 201);
    padding: 5% 10%;
    border: 2px dotted black;
    flex-wrap: wrap;
}

.content-left,
.content-right {
    width: 50%;
    flex-direction: colomn;
}

.content-left>h1,
.content-right>h1 {
    color: black;
    margin: 5% 0%;
}

hr {
    width: 100%;
    height: 0.1rem;
    color: gray;
    background-color: gray;
    margin-top: 5%;
}

.about-me {
    width: 100%;
    height: auto;
}

.about-me>h1,
h2 {
    margin-top: 2%;
}

@media all and (max-width: 768px) and (min-width: 577px) {
    html {
        font-size: 8px;
    }

}

@media all and (max-width: 576px) {
    body {
        align-items: center;
        text-align: center;

    }

    .container-upper {
        padding: 0%;
        text-align: center;
        height: auto;
    }

    .container-right {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .container-right>button {
        width: 30%;
        margin: 2.5%;
        height: 3rem;
        background-color: transparent;
        border: none;
        color: white;
        border-bottom: 1px solid rgb(255, 140, 0);
    }

    .user-img {
        position: static;
        margin-top: 2%;
        width: 15rem;
        height: 20rem;
    }

    .container-lower {
        width: 100%;
        margin: 0%;
        text-align: center;
      
    }

    .container-lower>button {
        margin: 0;
    }

    .container-lower .edit-profile {
        position: static;
    }

    .container-content {
        text-align: left;
    }
    .content-left>h1,
    .content-right>h1 {
        font-size: 1.5rem;
        color: black;
        margin: 3% 0%;
    }

}